In [ ]:
import pandas as pd
import numpy as np

In [ ]:
read_html=pd.read_html('https://en.wikipedia.org/wiki/Minnesota')
type(read_html)

list

In [ ]:
for i in read_html:
  print(i)

                                            Minnesota                                        Minnesota.1
0                                               State                                              State
1                                  State of Minnesota                                 State of Minnesota
2   .mw-parser-output .ib-settlement-cols{text-ali...  .mw-parser-output .ib-settlement-cols{text-ali...
3   Nickname(s): Land of 10,000 Lakes;North Star S...  Nickname(s): Land of 10,000 Lakes;North Star S...
4   Motto(s): L'Étoile du Nord (French: The Star o...  Motto(s): L'Étoile du Nord (French: The Star o...
5                           Anthem: "Hail! Minnesota"                          Anthem: "Hail! Minnesota"
6   Map of the United States with Minnesota highli...  Map of the United States with Minnesota highli...
7                                             Country                                      United States
8                                    Before statehood                                Minnesota Territory
9                               Admitted to the Union             May 11, 1858 (32nd State in the Union)
10                                            Capital                                         Saint Paul
11                                       Largest city                                        Minneapolis
12                      Largest metro and urban areas                             Minneapolis–Saint Paul
13                                         Government                                         Government
14                                         • Governor                                     Tim Walz (DFL)
15                              • Lieutenant Governor                               Peggy Flanagan (DFL)
16                                        Legislature                              Minnesota Legislature
17                                      • Upper house                                             Senate
18                                      • Lower house                           House of Representatives
19                                          Judiciary                            Minnesota Supreme Court
20                                      U.S. senators                Amy Klobuchar (DFL)Tina Smith (DFL)
21                              U.S. House delegation                    4 Democrats4 Republicans (list)
22                                               Area                                               Area
23                                            • Total                      86,935.83 sq mi (225,163 km2)
24                                             • Land                      79,626.74 sq mi (206,232 km2)
25                                            • Water                  7,309.09 sq mi (18,930 km2) 8.40%
26                                          Area rank                                               12th
27                                         Dimensions                                         Dimensions
28                                           • Length                              about 400 mi (640 km)
29                                            • Width                            200–350 mi (320–560 km)
30                                          Elevation                                   1,200 ft (370 m)
31           Highest elevation (Eagle Mountain[1][2])                                   2,301 ft (701 m)
32          Lowest elevation (Lake Superior[1][2][3])                                     602 ft (183 m)
33                                  Population (2021)                                  Population (2021)
34                                            • Total                                       5,707,390[4]
35                                             • Rank                                               22nd
36                                          • Density                              68.9/sq mi (26.6/km2)
37                                     • Density rank                               30th (2015 estimate)
38                          • Median household income                                         $74,593[5]
39                                      • Income rank                                               13th
40                                         Demonym(s)                                         Minnesotan
41                                           Language                                           Language
42                                • Official language                                               None
43                                  • Spoken language              English 88.9% Spanish Somali Hmong[6]
44                                          Time zone                                UTC−06:00 (Central)
45                                     • Summer (DST)                                    UTC−05:00 (CDT)
46                                  USPS abbreviation                                                 MN
47                                      ISO 3166 code                                              US-MN
48                           Traditional abbreviation                                              Minn.
49                                           Latitude                             43° 30′ N to 49° 23′ N
50                                          Longitude                             89° 29′ W to 97° 14′ W
51                                            Website                                             mn.gov
                 Minnesota state symbols
                         Living insignia                                  Living insignia.1
0                                   Bird                                        Common loon
1                              Butterfly                                            Monarch
2                                   Fish                                            Walleye
3                                 Flower                      Pink-and-white lady's slipper
4                               Mushroom                 Common morel (Morchella esculenta)
5                                   Tree                                     Norway pine[7]
6                     Inanimate insignia                                 Inanimate insignia
7                               Beverage                                               Milk
8                                   Food  Fruit: Honeycrisp appleMuffin: BlueberryMushro...
9                               Gemstone                                Lake Superior agate
10                                 Other                                  Photograph: Grace
11  Lists of United States state symbols               Lists of United States state symbols
              Location July (°F) July (°C) January (°F) January (°C)
0          Minneapolis     83/64     28/18         23/7       −4/−13
1           Saint Paul     83/63     28/17         23/6       −5/−14
2            Rochester     82/63     28/17         23/3       −5/−16
3               Duluth     76/55     24/13         19/1       −7/−17
4            St. Cloud     81/58     27/14        18/−1       −7/−18
5              Mankato     86/62     30/16         23/3       −5/−16
6  International Falls     77/52     25/11        15/−6       −9/−21
                    Historical population  ...
                                   Census  ...                                     %±
0                                    1850  ...                                      —
1                                    1860  ...                               2,730.7%
2                                    1870  ...                                 155.6%
3                                    1880  ...                                  77.6%
4                                    1890  ...                                  67.8%
5                                    1900  ...                                  33.7%
6                                    1910  ...                                  18.5%
7                                    1920  ...                                  15.0%
8                                    1930  ...                                   7.4%
9                                    1940  ...                                   8.9%
10                                   1950  ...                                   6.8%
11                                   1960  ...                                  14.5%
12                                   1970  ...                                  11.5%
13                                   1980  ...                                   7.1%
14                                   1990  ...                                   7.3%
15                                   2000  ...                                  12.4%
16                                   2010  ...                                   7.8%
17                                   2020  ...                                   7.6%
18                            2021 (est.)  ...                                   7.6%
19  Source: 1910–2020[76]2021 Estimate[4]  ...  Source: 1910–2020[76]2021 Estimate[4]

[20 rows x 4 columns]
            Race and Ethnicity[80]  Alone  Alone.1  Total  Total.1
0             White (non-Hispanic)  76.3%      NaN  80.2%      NaN
1  African American (non-Hispanic)   6.9%      NaN   8.2%      NaN
2            Hispanic or Latino[a]      —      NaN   6.1%      NaN
3                            Asian   5.2%      NaN   6.2%      NaN
4                  Native American   1.0%      NaN   2.3%      NaN
5                 Pacific Islander  0.05%      NaN   0.1%      NaN
6                            Other   0.4%      NaN   1.3%      NaN
                      Affiliation  % of population  % of population.1
0                       Christian               74                NaN
1                      Protestant               50                NaN
2                        Lutheran               26                NaN
3                       Methodist                3                NaN
4                     Pentecostal                3                NaN
5   Historically Black Protestant                2                NaN
6                Other Protestant               16                NaN
7                  Roman Catholic               22                NaN
8                          Mormon                1                NaN
9                 Other Christian                1                NaN
10  Other religion or association                5                NaN
11                        Judaism                1                NaN
12                          Islam                1                NaN
13          Other and unspecified                3                NaN
14                   Unaffiliated               20                NaN
15          Nothing in particular               13                NaN
16                       Agnostic                4                NaN
17                        Atheist                3                NaN
    Year     Office    GOP    DFL Others
0   2020  President  45.3%  52.4%   2.3%
1   2020    Senator  43.5%  48.8%   7.7%
2   2018   Governor  42.4%  53.9%   3.7%
3   2018    Senator  36.2%  60.3%   3.4%
4   2018    Senator  42.4%  53.0%   4.6%
5   2016  President  44.9%  46.4%   8.6%
6   2014   Governor  44.5%  50.1%   5.4%
7   2014    Senator  42.9%  53.2%   3.9%
8   2012  President  45.1%  52.8%   2.1%
9   2012    Senator  30.6%  65.3%   4.1%
10  2010   Governor  43.2%  43.7%  13.1%
11  2008  President  43.8%  54.1%   2.1%
12  2008    Senator  42.0%  42.0%  16.0%
13  2006   Governor  46.7%  45.7%   7.6%
14  2006    Senator  37.9%  58.1%   4.0%
15  2004  President  47.6%  51.1%   1.3%
16  2002   Governor  44.4%  33.5%  22.1%
17  2002    Senator  49.5%  47.3%   1.0%
18  2000  President  45.5%  47.9%   6.6%
19  2000    Senator  43.3%  48.8%   7.9%
20  1998   Governor  34.3%  28.1%  37.6%
21  1996  President  35.0%  51.1%  13.9%
22  1996    Senator  41.3%  50.3%   8.4%
23  1994   Governor  63.3%  34.1%   2.6%
24  1994    Senator  49.1%  44.1%   6.8%
25  1992  President  31.9%  43.5%  24.6%
                       0  ...                   2
0  Preceded byCalifornia  ...  Succeeded byOregon

[1 rows x 3 columns]
       Topics related to MinnesotaLand of 10,000 Lakes  ...                                         Unnamed: 2
0    .mw-parser-output .navbar{display:inline;font-...  ...                                                NaN
1    .mw-parser-output .navbar{display:inline;font-...  ...  .mw-parser-output .navbar{display:inline;font-...
2                                 Saint Paul (capital)  ...                               Saint Paul (capital)
3                                               Topics  ...                                  Seal of Minnesota
4                                              Society  ...                                  Seal of Minnesota
..                                                 ...  ...                                                ...
97                                    Federal district  ...                                                NaN
98                                       Insular areas  ...                                                NaN
99                                    Outlying islands  ...                                                NaN
100                                Indian reservations  ...                                                NaN
101                                             Others  ...                                                NaN

[102 rows x 3 columns]
  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte State of Minnesota  ... .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte State of Minnesota.2
0                               Saint Paul (capital)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...                               Saint Paul (capital)
1                                             Topics                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...                                  Seal of Minnesota
2                                            Society                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...                                  Seal of Minnesota
3                                            Regions                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...                                  Seal of Minnesota
4                     Largest citiespop. over 25,000                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...                                  Seal of Minnesota

In [ ]:
s1=pd.DataFrame(read_html[0])
s1

                                            Minnesota                                        Minnesota.1
0                                               State                                              State
1                                  State of Minnesota                                 State of Minnesota
2   .mw-parser-output .ib-settlement-cols{text-ali...  .mw-parser-output .ib-settlement-cols{text-ali...
3   Nickname(s): Land of 10,000 Lakes;North Star S...  Nickname(s): Land of 10,000 Lakes;North Star S...
4   Motto(s): L'Étoile du Nord (French: The Star o...  Motto(s): L'Étoile du Nord (French: The Star o...
5                           Anthem: "Hail! Minnesota"                          Anthem: "Hail! Minnesota"
6   Map of the United States with Minnesota highli...  Map of the United States with Minnesota highli...
7                                             Country                                      United States
8                                    Before statehood                                Minnesota Territory
9                               Admitted to the Union             May 11, 1858 (32nd State in the Union)
10                                            Capital                                         Saint Paul
11                                       Largest city                                        Minneapolis
12                      Largest metro and urban areas                             Minneapolis–Saint Paul
13                                         Government                                         Government
14                                         • Governor                                     Tim Walz (DFL)
15                              • Lieutenant Governor                               Peggy Flanagan (DFL)
16                                        Legislature                              Minnesota Legislature
17                                      • Upper house                                             Senate
18                                      • Lower house                           House of Representatives
19                                          Judiciary                            Minnesota Supreme Court
20                                      U.S. senators                Amy Klobuchar (DFL)Tina Smith (DFL)
21                              U.S. House delegation                    4 Democrats4 Republicans (list)
22                                               Area                                               Area
23                                            • Total                      86,935.83 sq mi (225,163 km2)
24                                             • Land                      79,626.74 sq mi (206,232 km2)
25                                            • Water                  7,309.09 sq mi (18,930 km2) 8.40%
26                                          Area rank                                               12th
27                                         Dimensions                                         Dimensions
28                                           • Length                              about 400 mi (640 km)
29                                            • Width                            200–350 mi (320–560 km)
30                                          Elevation                                   1,200 ft (370 m)
31           Highest elevation (Eagle Mountain[1][2])                                   2,301 ft (701 m)
32          Lowest elevation (Lake Superior[1][2][3])                                     602 ft (183 m)
33                                  Population (2021)                                  Population (2021)
34                                            • Total                                       5,707,390[4]
35                                             • Rank                                               22nd
36                                          • Density                              68.9/sq mi (26.6/km2)
37                                     • Density rank                               30th (2015 estimate)
38                          • Median household income                                         $74,593[5]
39                                      • Income rank                                               13th
40                                         Demonym(s)                                         Minnesotan
41                                           Language                                           Language
42                                • Official language                                               None
43                                  • Spoken language              English 88.9% Spanish Somali Hmong[6]
44                                          Time zone                                UTC−06:00 (Central)
45                                     • Summer (DST)                                    UTC−05:00 (CDT)
46                                  USPS abbreviation                                                 MN
47                                      ISO 3166 code                                              US-MN
48                           Traditional abbreviation                                              Minn.
49                                           Latitude                             43° 30′ N to 49° 23′ N
50                                          Longitude                             89° 29′ W to 97° 14′ W
51                                            Website                                             mn.gov

In [ ]:
s2=pd.DataFrame(read_html[1])
s2

                 Minnesota state symbols
                         Living insignia                                  Living insignia.1
0                                   Bird                                        Common loon
1                              Butterfly                                            Monarch
2                                   Fish                                            Walleye
3                                 Flower                      Pink-and-white lady's slipper
4                               Mushroom                 Common morel (Morchella esculenta)
5                                   Tree                                     Norway pine[7]
6                     Inanimate insignia                                 Inanimate insignia
7                               Beverage                                               Milk
8                                   Food  Fruit: Honeycrisp appleMuffin: BlueberryMushro...
9                               Gemstone                                Lake Superior agate
10                                 Other                                  Photograph: Grace
11  Lists of United States state symbols               Lists of United States state symbols

In [ ]:
s3=pd.DataFrame(read_html[2])
s3

              Location July (°F) July (°C) January (°F) January (°C)
0          Minneapolis     83/64     28/18         23/7       −4/−13
1           Saint Paul     83/63     28/17         23/6       −5/−14
2            Rochester     82/63     28/17         23/3       −5/−16
3               Duluth     76/55     24/13         19/1       −7/−17
4            St. Cloud     81/58     27/14        18/−1       −7/−18
5              Mankato     86/62     30/16         23/3       −5/−16
6  International Falls     77/52     25/11        15/−6       −9/−21

In [ ]:
s4=pd.DataFrame(read_html[4])

In [ ]:
s4

            Race and Ethnicity[80]  Alone  Alone.1  Total  Total.1
0             White (non-Hispanic)  76.3%      NaN  80.2%      NaN
1  African American (non-Hispanic)   6.9%      NaN   8.2%      NaN
2            Hispanic or Latino[a]      —      NaN   6.1%      NaN
3                            Asian   5.2%      NaN   6.2%      NaN
4                  Native American   1.0%      NaN   2.3%      NaN
5                 Pacific Islander  0.05%      NaN   0.1%      NaN
6                            Other   0.4%      NaN   1.3%      NaN

In [ ]:
s4.fillna(" ",inplace=False)
s4

            Race and Ethnicity[80]  Alone  Alone.1  Total  Total.1
0             White (non-Hispanic)  76.3%      NaN  80.2%      NaN
1  African American (non-Hispanic)   6.9%      NaN   8.2%      NaN
2            Hispanic or Latino[a]      —      NaN   6.1%      NaN
3                            Asian   5.2%      NaN   6.2%      NaN
4                  Native American   1.0%      NaN   2.3%      NaN
5                 Pacific Islander  0.05%      NaN   0.1%      NaN
6                            Other   0.4%      NaN   1.3%      NaN

In [ ]:
s4.replace(np.nan,'')
s4.drop(['Alone.1', 'Total.1'],axis = 1)

            Race and Ethnicity[80]  Alone  Total
0             White (non-Hispanic)  76.3%  80.2%
1  African American (non-Hispanic)   6.9%   8.2%
2            Hispanic or Latino[a]      —   6.1%
3                            Asian   5.2%   6.2%
4                  Native American   1.0%   2.3%
5                 Pacific Islander  0.05%   0.1%
6                            Other   0.4%   1.3%

In [ ]:
s5=pd.DataFrame(read_html[5])
s5

                      Affiliation  % of population  % of population.1
0                       Christian               74                NaN
1                      Protestant               50                NaN
2                        Lutheran               26                NaN
3                       Methodist                3                NaN
4                     Pentecostal                3                NaN
5   Historically Black Protestant                2                NaN
6                Other Protestant               16                NaN
7                  Roman Catholic               22                NaN
8                          Mormon                1                NaN
9                 Other Christian                1                NaN
10  Other religion or association                5                NaN
11                        Judaism                1                NaN
12                          Islam                1                NaN
13          Other and unspecified                3                NaN
14                   Unaffiliated               20                NaN
15          Nothing in particular               13                NaN
16                       Agnostic                4                NaN
17                        Atheist                3                NaN

In [ ]:
s5.fillna(" ",inplace=False)
s5

                      Affiliation  % of population  % of population.1
0                       Christian               74                NaN
1                      Protestant               50                NaN
2                        Lutheran               26                NaN
3                       Methodist                3                NaN
4                     Pentecostal                3                NaN
5   Historically Black Protestant                2                NaN
6                Other Protestant               16                NaN
7                  Roman Catholic               22                NaN
8                          Mormon                1                NaN
9                 Other Christian                1                NaN
10  Other religion or association                5                NaN
11                        Judaism                1                NaN
12                          Islam                1                NaN
13          Other and unspecified                3                NaN
14                   Unaffiliated               20                NaN
15          Nothing in particular               13                NaN
16                       Agnostic                4                NaN
17                        Atheist                3                NaN

In [ ]:
s5.replace(np.nan,'')
s5.drop(['% of population.1'],axis = 1)

                      Affiliation  % of population
0                       Christian               74
1                      Protestant               50
2                        Lutheran               26
3                       Methodist                3
4                     Pentecostal                3
5   Historically Black Protestant                2
6                Other Protestant               16
7                  Roman Catholic               22
8                          Mormon                1
9                 Other Christian                1
10  Other religion or association                5
11                        Judaism                1
12                          Islam                1
13          Other and unspecified                3
14                   Unaffiliated               20
15          Nothing in particular               13
16                       Agnostic                4
17                        Atheist                3

In [ ]:
frames = [ s3, s4]
result = pd.concat(frames)
print(result)

              Location July (°F) July (°C)  ... Alone.1  Total Total.1
0          Minneapolis     83/64     28/18  ...     NaN    NaN     NaN
1           Saint Paul     83/63     28/17  ...     NaN    NaN     NaN
2            Rochester     82/63     28/17  ...     NaN    NaN     NaN
3               Duluth     76/55     24/13  ...     NaN    NaN     NaN
4            St. Cloud     81/58     27/14  ...     NaN    NaN     NaN
5              Mankato     86/62     30/16  ...     NaN    NaN     NaN
6  International Falls     77/52     25/11  ...     NaN    NaN     NaN
0                  NaN       NaN       NaN  ...     NaN  80.2%     NaN
1                  NaN       NaN       NaN  ...     NaN   8.2%     NaN
2                  NaN       NaN       NaN  ...     NaN   6.1%     NaN
3                  NaN       NaN       NaN  ...     NaN   6.2%     NaN
4                  NaN       NaN       NaN  ...     NaN   2.3%     NaN
5                  NaN       NaN       NaN  ...     NaN   0.1%     NaN
6                  NaN       NaN       NaN  ...     NaN   1.3%     NaN

[14 rows x 10 columns]

In [ ]:
result.replace(np.nan,' ',regex=True)

              Location July (°F) July (°C)  ... Alone.1  Total Total.1
0          Minneapolis     83/64     28/18  ...
1           Saint Paul     83/63     28/17  ...
2            Rochester     82/63     28/17  ...
3               Duluth     76/55     24/13  ...
4            St. Cloud     81/58     27/14  ...
5              Mankato     86/62     30/16  ...
6  International Falls     77/52     25/11  ...
0                                           ...          80.2%
1                                           ...           8.2%
2                                           ...           6.1%
3                                           ...           6.2%
4                                           ...           2.3%
5                                           ...           0.1%
6                                           ...           1.3%

[14 rows x 10 columns]

In [ ]:
#PDF
from pandas import *

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 19.9 MB/s
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Collecting distro
  Downloading distro-1.7.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.7.0 tabula-py-2.3.0

In [ ]:
from tabula import read_pdf
df = read_pdf('/content/drive/MyDrive/architects1.pdf',pages=(1,2,3,4,5),multiple_tables=False,stream=False)

Got stderr: Feb 16, 2022 3:03:19 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Feb 16, 2022 3:03:19 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Feb 16, 2022 3:03:19 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 17 fonts

In [ ]:
for i in df:
  print(i,1)
  len(df)

   S.No  ...                                    Contact Details
0    1.  ...  Tel: 95120-5321278\r9818290708\rEmail: info@st...
1    2.  ...      Tel: 033-24740570-73\rEmail: jpamnl@gmail.com
2    3.  ...  Tel: 27457241\r23857061, 23857824\rFax: 238590...
3    4.  ...  Tel: 24682100/ 41504900 extn.2139\r\rEmail: mi...
4    5.  ...             Tel: 95124-4065318\rFax: 95124-2352829
..  ...  ...                                                ...
74  33.  ...  Tel : 0484-2537668, 2538445/\r09847322048\rFax...
75  34.  ...  Tel :022- 28695274/ 32522539/\r09870672649/ 50...
76  35.  ...  Tel : 022- 25832222\rFax: 91-22-25838408\rEmai...
77  36.  ...  Tel: 0191-2560043\rFax : 0191- 2560043\rEmail:...
78  37.  ...  Tel: 022- 28902248\rFax : 022-28912522\rEmail:...

[79 rows x 4 columns] 1

In [ ]:
data=DataFrame(df[0])
data

   S.No  ...                                    Contact Details
0    1.  ...  Tel: 95120-5321278\r9818290708\rEmail: info@st...
1    2.  ...      Tel: 033-24740570-73\rEmail: jpamnl@gmail.com
2    3.  ...  Tel: 27457241\r23857061, 23857824\rFax: 238590...
3    4.  ...  Tel: 24682100/ 41504900 extn.2139\r\rEmail: mi...
4    5.  ...             Tel: 95124-4065318\rFax: 95124-2352829
..  ...  ...                                                ...
74  33.  ...  Tel : 0484-2537668, 2538445/\r09847322048\rFax...
75  34.  ...  Tel :022- 28695274/ 32522539/\r09870672649/ 50...
76  35.  ...  Tel : 022- 25832222\rFax: 91-22-25838408\rEmai...
77  36.  ...  Tel: 0191-2560043\rFax : 0191- 2560043\rEmail:...
78  37.  ...  Tel: 022- 28902248\rFax : 022-28912522\rEmail:...

[79 rows x 4 columns]

In [ ]:
df1 = data.iloc[ :9]
df1

  S.No  ...                                    Contact Details
0   1.  ...  Tel: 95120-5321278\r9818290708\rEmail: info@st...
1   2.  ...      Tel: 033-24740570-73\rEmail: jpamnl@gmail.com
2   3.  ...  Tel: 27457241\r23857061, 23857824\rFax: 238590...
3   4.  ...  Tel: 24682100/ 41504900 extn.2139\r\rEmail: mi...
4   5.  ...             Tel: 95124-4065318\rFax: 95124-2352829
5   6.  ...  Tel : 0522-2209241\rEmail : civilconsultants@y...
6   7.  ...       Tel: 9958170019\rEmail: Alpana@kalpakrit.com
7   8.  ...  Tel: 41655696/\rMobile: 9910441016\rFax: 41655...
8   9.  ...  Tel : 23922108\rFax : 23918936\rEmail: ablarch...

[9 rows x 4 columns]

In [ ]:
df2=data.iloc[9:58]
df2['List of Architects'] = df2['S.No']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2['S.No'] = ' '

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2=df2.dropna()
df2

   S.No          List of Architects       State              Contact Details
18       12.  Shri. Tanmay Tathagat   New Delhi                Tel: 46065081
27          14.  Shri. Uday B Kapre   New Delhi     Tel : 26132076/ 26894055
33          15.  Mr Sanjay  Udamale      Mumbai           Tel :022- 25346197
39           16. 0Mr Surinder Bagha  Chandigarh  Tel : 0172-2722466/ 3043466
45               17.  Ms. Tara Dhal   Bhubanesh  Tel : 0674-2397386/ 2397318
46                 The Design Group         war            Fax: 067-42397318
50           18.  Shri. Vicky Rawat    Debradun           Tel : 0135-2762276

In [ ]:
df2=data.iloc[9:58]
df2['List of Architects']=df2['S.No']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2['S.No']= ' '

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2=df2.dropna()
df2

   S.No List of Architects       State              Contact Details
18                           New Delhi                Tel: 46065081
27                           New Delhi     Tel : 26132076/ 26894055
33                              Mumbai           Tel :022- 25346197
39                          Chandigarh  Tel : 0172-2722466/ 3043466
45                           Bhubanesh  Tel : 0674-2397386/ 2397318
46                                 war            Fax: 067-42397318
50                            Debradun           Tel : 0135-2762276

In [ ]:
df3=data.iloc[58:]
df3=df3.dropna()
df3

   S.No  ...                                    Contact Details
58  19.  ...  Tel: 020-26053003\rFax no: 20 26131755\rEmail ...
59  20.  ...  Tel : 24112391/ 92\rFax no: 46016239\rIntegral...
60  21.  ...  Tel : 0141- 4099621-23\rFax :01412373180\rrish...
61  22.  ...  Tel : (044) 24450655/ 45504313\rjuzer@conserve...
62  23.  ...  Tel : 0484-4072000  to 4072099\rFax : 91-484-4...
63  24.  ...  Tel:9310010460\rFax : 011 46082355\rVandanagar...
64  25.  ...  Tel : 0141- 2520352/ 3270181\rFax: 91-141-2520...
66  26.  ...  Tel: 022-67939388/ 89\rFax: 022-67939390\rbalb...
67  27.  ...  Tel :011- 26274672\rFax: 011-26273098\rlivin@a...
68  28.  ...  Tel : 0141- 2741664, 2741232\rFax: 91-141-2741...
69  29.  ...  Tel :080-40494000\rFax: 91-80-40494299\rdeepak...
70  30.  ...  Tel : 95120- 2400345\rFax :\r\rarchitectatul@g...
71  31.  ...  Tel : 044- 24991676\rcrn@crn.co.in,\rFax: 91-4...
72  32.  ...                          Tel: 022- 27831070/ 72/61
74  33.  ...  Tel : 0484-2537668, 2538445/\r09847322048\rFax...
75  34.  ...  Tel :022- 28695274/ 32522539/\r09870672649/ 50...
76  35.  ...  Tel : 022- 25832222\rFax: 91-22-25838408\rEmai...
77  36.  ...  Tel: 0191-2560043\rFax : 0191- 2560043\rEmail:...
78  37.  ...  Tel: 022- 28902248\rFax : 022-28912522\rEmail:...

[19 rows x 4 columns]

In [ ]:
data1 = [df1,df2,df3]
final=pd.concat(data1)
final

   S.No  ...                                    Contact Details
0    1.  ...  Tel: 95120-5321278\r9818290708\rEmail: info@st...
1    2.  ...      Tel: 033-24740570-73\rEmail: jpamnl@gmail.com
2    3.  ...  Tel: 27457241\r23857061, 23857824\rFax: 238590...
3    4.  ...  Tel: 24682100/ 41504900 extn.2139\r\rEmail: mi...
4    5.  ...             Tel: 95124-4065318\rFax: 95124-2352829
5    6.  ...  Tel : 0522-2209241\rEmail : civilconsultants@y...
6    7.  ...       Tel: 9958170019\rEmail: Alpana@kalpakrit.com
7    8.  ...  Tel: 41655696/\rMobile: 9910441016\rFax: 41655...
8    9.  ...  Tel : 23922108\rFax : 23918936\rEmail: ablarch...
18       ...                                      Tel: 46065081
27       ...                           Tel : 26132076/ 26894055
33       ...                                 Tel :022- 25346197
39       ...                        Tel : 0172-2722466/ 3043466
45       ...                        Tel : 0674-2397386/ 2397318
46       ...                                  Fax: 067-42397318
50       ...                                 Tel : 0135-2762276
58  19.  ...  Tel: 020-26053003\rFax no: 20 26131755\rEmail ...
59  20.  ...  Tel : 24112391/ 92\rFax no: 46016239\rIntegral...
60  21.  ...  Tel : 0141- 4099621-23\rFax :01412373180\rrish...
61  22.  ...  Tel : (044) 24450655/ 45504313\rjuzer@conserve...
62  23.  ...  Tel : 0484-4072000  to 4072099\rFax : 91-484-4...
63  24.  ...  Tel:9310010460\rFax : 011 46082355\rVandanagar...
64  25.  ...  Tel : 0141- 2520352/ 3270181\rFax: 91-141-2520...
66  26.  ...  Tel: 022-67939388/ 89\rFax: 022-67939390\rbalb...
67  27.  ...  Tel :011- 26274672\rFax: 011-26273098\rlivin@a...
68  28.  ...  Tel : 0141- 2741664, 2741232\rFax: 91-141-2741...
69  29.  ...  Tel :080-40494000\rFax: 91-80-40494299\rdeepak...
70  30.  ...  Tel : 95120- 2400345\rFax :\r\rarchitectatul@g...
71  31.  ...  Tel : 044- 24991676\rcrn@crn.co.in,\rFax: 91-4...
72  32.  ...                          Tel: 022- 27831070/ 72/61
74  33.  ...  Tel : 0484-2537668, 2538445/\r09847322048\rFax...
75  34.  ...  Tel :022- 28695274/ 32522539/\r09870672649/ 50...
76  35.  ...  Tel : 022- 25832222\rFax: 91-22-25838408\rEmai...
77  36.  ...  Tel: 0191-2560043\rFax : 0191- 2560043\rEmail:...
78  37.  ...  Tel: 022- 28902248\rFax : 022-28912522\rEmail:...

[35 rows x 4 columns]

In [ ]:
data.set_index('S.No')
data

   S.No  ...                                    Contact Details
0    1.  ...  Tel: 95120-5321278\r9818290708\rEmail: info@st...
1    2.  ...      Tel: 033-24740570-73\rEmail: jpamnl@gmail.com
2    3.  ...  Tel: 27457241\r23857061, 23857824\rFax: 238590...
3    4.  ...  Tel: 24682100/ 41504900 extn.2139\r\rEmail: mi...
4    5.  ...             Tel: 95124-4065318\rFax: 95124-2352829
..  ...  ...                                                ...
74  33.  ...  Tel : 0484-2537668, 2538445/\r09847322048\rFax...
75  34.  ...  Tel :022- 28695274/ 32522539/\r09870672649/ 50...
76  35.  ...  Tel : 022- 25832222\rFax: 91-22-25838408\rEmai...
77  36.  ...  Tel: 0191-2560043\rFax : 0191- 2560043\rEmail:...
78  37.  ...  Tel: 022- 28902248\rFax : 022-28912522\rEmail:...

[79 rows x 4 columns]

In [ ]:
data.fillna("",inplace=True)
data

   S.No  ...                                    Contact Details
0    1.  ...  Tel: 95120-5321278\r9818290708\rEmail: info@st...
1    2.  ...      Tel: 033-24740570-73\rEmail: jpamnl@gmail.com
2    3.  ...  Tel: 27457241\r23857061, 23857824\rFax: 238590...
3    4.  ...  Tel: 24682100/ 41504900 extn.2139\r\rEmail: mi...
4    5.  ...             Tel: 95124-4065318\rFax: 95124-2352829
..  ...  ...                                                ...
74  33.  ...  Tel : 0484-2537668, 2538445/\r09847322048\rFax...
75  34.  ...  Tel :022- 28695274/ 32522539/\r09870672649/ 50...
76  35.  ...  Tel : 022- 25832222\rFax: 91-22-25838408\rEmai...
77  36.  ...  Tel: 0191-2560043\rFax : 0191- 2560043\rEmail:...
78  37.  ...  Tel: 022- 28902248\rFax : 022-28912522\rEmail:...

[79 rows x 4 columns]

In [ ]:
for i in range(9,57):
  data.loc[i,'S.No':'List of Architects']=data.loc[i,'S.No':'List of Architects'].shift()
data

   S.No  ...                                    Contact Details
0    1.  ...  Tel: 95120-5321278\r9818290708\rEmail: info@st...
1    2.  ...      Tel: 033-24740570-73\rEmail: jpamnl@gmail.com
2    3.  ...  Tel: 27457241\r23857061, 23857824\rFax: 238590...
3    4.  ...  Tel: 24682100/ 41504900 extn.2139\r\rEmail: mi...
4    5.  ...             Tel: 95124-4065318\rFax: 95124-2352829
..  ...  ...                                                ...
74  33.  ...  Tel : 0484-2537668, 2538445/\r09847322048\rFax...
75  34.  ...  Tel :022- 28695274/ 32522539/\r09870672649/ 50...
76  35.  ...  Tel : 022- 25832222\rFax: 91-22-25838408\rEmai...
77  36.  ...  Tel: 0191-2560043\rFax : 0191- 2560043\rEmail:...
78  37.  ...  Tel: 022- 28902248\rFax : 022-28912522\rEmail:...

[79 rows x 4 columns]

In [ ]:
import numpy

In [ ]:
import numpy as sk

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
arr[0] = 42

In [ ]:
print(arr)
print(x)

[42  2  3  4  5]
[1 2 3 4 5]